
local.properties
.idea/vcs.xml
MAHAdsSample/build/generated/assets/
MAHAdsSample/build/generated/res/
MAHAdsSample/build/generated/source/aidl/
MAHAdsSample/build/generated/source/r/androidTest/
MAHAdsSample/build/generated/source/rs/
MAHAdsSample/build/intermediates/assets/androidTest/
MAHAdsSample/build/intermediates/blame/res/androidTest/
MAHAdsSample/build/intermediates/bundles/
MAHAdsSample/build/intermediates/dependency-cache/
MAHAdsSample/build/intermediates/exploded-aar/MAHAds/mah-ads/unspecified/aidl/
MAHAdsSample/build/intermediates/exploded-aar/MAHAds/mah-ads/unspecified/jni/
MAHAdsSample/build/intermediates/exploded-aar/MAHAds/mah-ads/unspecified/libs/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/aidl/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/assets/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/jni/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/libs/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/res/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/aidl/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/assets/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/jni/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/libs/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/aidl/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/assets/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/jni/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/libs/
MAHAdsSample/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/res/
MAHAdsSample/build/intermediates/jniLibs/
MAHAdsSample/build/intermediates/manifest/tmp/
MAHAdsSample/build/intermediates/res/merged/androidTest/
MAHAdsSample/build/intermediates/rs/
MAHAdsSample/build/intermediates/shaders/
MAHAdsSample/build/intermediates/symbols/androidTest/
MAHAdsSample/build/intermediates/transforms/mergeJniLibs/
MAHAdsSample/build/tmp/compileDebugJavaWithJavac/
mah-ads/build/generated/assets/
mah-ads/build/generated/res/
mah-ads/build/generated/source/aidl/
mah-ads/build/generated/source/rs/
mah-ads/build/intermediates/annotations/
mah-ads/build/intermediates/bundles/debug/aidl/
mah-ads/build/intermediates/bundles/debug/jni/
mah-ads/build/intermediates/bundles/release/aidl/
mah-ads/build/intermediates/bundles/release/jni/
mah-ads/build/intermediates/dependency-cache/
mah-ads/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/aidl/
mah-ads/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/assets/
mah-ads/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/jni/
mah-ads/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/libs/
mah-ads/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.4.0/res/
mah-ads/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/aidl/
mah-ads/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/assets/
mah-ads/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/jni/
mah-ads/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.4.0/libs/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/aidl/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/assets/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/jni/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/libs/
mah-ads/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.4.0/res/
mah-ads/build/intermediates/jniLibs/
mah-ads/build/intermediates/lint/
mah-ads/build/intermediates/manifest/tmp/
mah-ads/build/intermediates/rs/
mah-ads/build/intermediates/shaders/
mah-ads/build/intermediates/transforms/mergeJniLibs/
mah-ads/build/tmp/
